.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.custom-navbar {
  background-color: 
#F9E7B2;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.custom-navbar .navbar-brand:hover {
  color: 
#D34E4E


}

.custom-navbar .nav-link:hover {
  color: 
#D34E4E

;
}

.custom-navbar .dropdown-menu {
  background-color: #F9E7B2;
  border: none;
  border-radius: 12px;
  padding: 0.5rem 0;
}

.custom-navbar .dropdown-item:hover {
  background-color: #F9E7B2;
  color:#D34E4E
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn-outline-red {
  /* border: 2px solid red; */
  /* background-color: red; */
  color: white;
  transition: all 0.4 ease-in;
}

.btn-outline-red:hover {
  border-color: red;
  color: red;
  background-color: transparent;
}

.opstina-card {
  position: fixed;
  top: 90px;   
  right: 20px;
  z-index: 1000;

  width: 18rem;
  border-radius: 20px;
  background-color: #F9E7B2;

  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.4s ease forwards;
}

.opstina-card .list-group-item {
  background-color: #F9E7B2;
}

.opstina-card .card-link {
  color: #D34E4E;
}

.belgrade-clock {
  font-family: monospace,Arial, Helvetica, sans-serif;
  color:
#CE7E5A
;
  font-weight: 600;
}

/* O nama */
.about-page {
  background-color:
#F9E7B2 ;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0,0,0, 0.2);
  
}

body {
  background-color: #DDC57A;
}

.about-page h2 {
  font-weight: 700;
  color: 
#CE7E5A
}

.about-page h4 {
  margin-top: 1.5rem;
  font-weight: 600;
  color: 
#CE7E5A;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.opstina-card-mobile {
  position: fixed;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);

  width: 92%;
  max-width: 360px;
  max-height: 38vh;

  background: white;
  border-radius: 14px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.25);

  overflow: hidden;
  z-index: 10000;
}

/* header */
.opstina-card-mobile .header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0.5rem 0.75rem;
  background: #F9E7B2;
}

.opstina-card-mobile h6 {
  margin: 0;
  font-size: 0.95rem;
  font-weight: 600;
}

.opstina-card-mobile button {
  border: none;
  background: transparent;
  font-size: 1.1rem;
}

/* image */
.opstina-card-mobile img {
  width: 100%;
  height: 100px;
  object-fit: contain;
}

/* info row */
.opstina-card-mobile .info {
  display: flex;
  justify-content: space-around;
  padding: 0.5rem 0;
  font-size: 0.85rem;
}


.about-page {
  max-width: 800px;
}

.about-page h2,
.about-page h4 {
  font-weight: 600;
}

.about-page ul {
  padding-left: 1.2rem;
}

.about-page li {
  margin-bottom: 0.4rem;
}
